#ignore VSCode settings, caches and logs
**/.vscode

#ignore folder containing python virtual environment
**/virtualenv

#ignore local deployment of the script - .egg-link
**/Webpage_Image_Downloader.egg-info

#ignore Python 3 bytecode compilations
**/__pycache__

#ignore outputs of the script
out/*
!out